button {
    padding: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 15px;
    font-weight: bold;
    transition: 0.1s;
}

#startButton {
    background-color: green;
}

#startButton:hover {
    background-color: #90EE90;
}

#startButton:active {
    transform: scale(0.95);
}

#stopButton {
    background-color: red;
}

#stopButton:hover {
    background-color: pink;
}

#stopButton:active {
    transform: scale(0.95);
}

#newButton {
    background-color: blue;
}

#newButton:hover {
    background-color: #87CEFA;
}

#newButton:active {
    transform: scale(0.95);
}

.split {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 20px);
}

.settings {
    margin: 0;
}

.presentation {
    border: 1px solid #ccc;
    width: calc(100% - 215px);
    min-height: calc(100vh - 170px);
}

.transcript {
    font-size: 15px;
}

@media (max-width: 650px) {
    .split {
        flex-direction: column;
    }
  
    .presentation {
        margin-top: 20px;
        width: 100%;
        min-height: calc(100vh - 280px);
    }
  }
  